services:
  postgres:
    image: postgres:latest
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - fountain_pgdata:/var/lib/postgresql/data

volumes:
  fountain_pgdata:
